*{
    font-family: "Proxima Nova", sans-serif;
}

nav{
    height: 106px;
    background-color: #EBFDF8;
    display: flex;
    justify-content: space-between;
}
nav img{
    margin: 15px;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul li a{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin: 30px 15px;
    width: 150px;
    text-align: center;
    color: #5C9D8B;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: 800;
}

nav ul li a.active{
    text-decoration: underline;
}

#profiel {
    margin: 5rem auto 7rem 150px;
    display: flex;
    justify-content: flex-start;
}

#over_mij #profiel img {
    width: 437px;
    height: 633px;
    margin: 20px 60px 0 0;
}

main #profiel #persoonlijke-info {
    height: 320px;
    /*margin: 10px 0 0 0;*/
}
#persoonlijke-info h1{
    padding: 0 25px 0 20px;
    font-size: 40px;
    color: #545479;
}
#persoonlijke-info p {
    padding: 0 25px 0 20px;
    font-size: x-large;
}

#cv{
    width: 350px;
    height: 50px;
    background: #5C9D8B;
    border: #5C9D8B solid 1px;
    border-radius: 20px;
    margin-left: 20px;
}
.creatie{
    width: 150px;
    height: 35px;
    background: #5C9D8B;
    border: #5C9D8B solid 1px;
    border-radius: 20px;
}
main button a:link{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #EBFDF8;
    text-decoration: none;
}

main button a:visited{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #EBFDF8;
    text-decoration: none;
}

#hard_skills p{
    margin: 20px 60px 0 0;
    /*width: 675px;*/
    font-size: medium;
}

#hard_skills {
    margin: 5rem auto 7rem 150px;
}

#hard_skills .boxes {
    display: flex;
    flex-wrap: wrap;
}

#hard_skills .boxes .code {
    width: 107px;
    height: 107px;
    margin: 17px;
}

.flip-box {
    background-color: transparent;
    width: 145px;
    height:145px;
    perspective: 1000px;
    margin: 25px 25px 25px 0;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50px;
    border: #545479 solid 2px;
}

.flip-box-front {
    background-color: #EBFDF8;
    color: black;
}

.flip-box-back {
    background-color: #545479;
    color: white;
    transform: rotateX(180deg);
   margin: 0 auto;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul li a {
    display: inline-block;
    padding: 0 20px 0 0;
    font-size: 1.5rem;
    color: #545479;
    align-content: center;
}

footer ul li a:hover {
    color: #5C9D8B;
}
@media screen and (max-width: 415px){
    nav img{
        display: none;
    }
    nav{
        height: 100%;
        width: 415px;
    }
    nav ul{
        flex-direction: column;
        justify-content: center;
        width: 415px;
        padding: 0;
    }
    footer{
        display: none;
    }
    main #profiel{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    #over_mij #profiel img{
width: 400px;
        height: 606px;
        margin: 20px 0 0 0 ;
    }
    #hard_skills{
        display: flex;
        flex-direction: column;
        width: 380px;
        margin: 620px 0 2rem 20px;
    }
    .boxes{
        display: flex;
        flex-wrap: wrap;
    }
    #hard_skills p{
        width: 370px;
    }
    #hard_skills img,#hard_skills button{
        scale: 75%;
    }
}