*{
    font-family: "Proxima Nova", sans-serif;
    /*box-sizing: border-box;*/
}
nav{
    width: auto;
    height: 106px;
    background-color: #EBFDF8;
    display: flex;
    justify-content: space-between;
}
nav img{
    margin: 15px;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul li a{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin: 30px 15px;
    width: 150px;
    text-align: center;
    color: #5C9D8B;
    text-decoration: none;

}
nav ul li a:hover{
    font-weight: 800;
}

nav ul li a.active{
    text-decoration: underline;
}
/*#main-gs img {*/
/*    width: 250px;*/
/*    height: 250px;*/
/*    margin: 2rem 0 2rem 140px;*/
/*}*/
#main-gs{
    display: flex;
    flex-wrap: wrap;
}
#gs h1{
    margin: 2rem 0 0 2rem;
}


.zoom {
    padding: 25px;
    transition: transform .2s;
    /*height: 350px;*/
    margin: 2rem 0 2rem 140px;
}

.zoom:hover {
    transform: scale(1.25);
}
#knoppen-gs {
    height: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 75px auto;
}
#knoppen-gs button {
    border-radius: 5px;
    padding: 10px;
    margin: 0 2rem 2rem 0;
    background: #5C9D8B;
    border: #5C9D8B solid 1px;
}

#knoppen-gs button a:link{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #EBFDF8;
    text-decoration: none;
}

#knoppen-gs button a:visited{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #EBFDF8;
    text-decoration: none;
}

@media screen and (max-width: 415px){
    #main-gs{
        width: 415px;
    }
    #main-gs article{
        width: 415px;
    }
    #main-gs .zoom{
        scale: 75%;
        margin: 1rem 0;
        width: 350px;
    }
    #knoppen-gs{
        flex-direction: column;
        width: 415px;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    nav img{
        display: none;
    }
    nav{
        height: 100%;
        width: 415px;
    }
    nav ul{
        flex-direction: column;
        justify-content: center;
        width: 415px;
        padding: 0;
    }
    nav ul li a{
        /*width: 100%;*/
    }
}