
body{
    background-image: url("assets/background_home.png");
    background-position: center;
    background-size: 100%;
}
#homepage{
    margin: 5rem auto 7rem 150px;
    display: flex;
    justify-content: flex-start;

}
#homepage img {
    width: 450px;
    height: 300px;
    margin: 90px 120px 0 0;
}
#homepage #tekst_homepage{
    height: 320px;
    margin: 10px 0 0 0;
}

#titel_1{
    font-family: 'Nunito', sans-serif;
    color:#EBFDF8;
    font-weight: 700;
    font-size: 70px;
}
#titel_2{
    width: 800px;
    font-family: 'Nunito', sans-serif;
    color:#EBFDF8;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;

}

main button{
    width: 270px;
    height: 65px;

    background: #5C9D8B;
    border: #5C9D8B solid 1px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

main button a:link{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #EBFDF8;
    text-decoration: none;
}

main button a:visited{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #EBFDF8;
    text-decoration: none;
}

