*{
    font-family: "Proxima Nova", sans-serif;
}

nav{
    height: 106px;
    background-color: #EBFDF8;
    display: flex;
    justify-content: space-between;
}
nav img{
    margin: 15px;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul li a{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin: 30px 15px;
    width: 150px;
    text-align: center;
    color: #5C9D8B;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: 800;
}

nav ul li a.active{
    text-decoration: underline;
}

#txt-wpl{
    margin: 50px 0 0 75px;
}
#txt-wpl h1{
    font-size: 40px;
    color: #545479;
}
#txt-wpl p{
    font-size: large;
}



#knoppen-wpl {
    height: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 75px auto;
}

@media screen and (max-width: 415px){
    #knoppen-wpl{
        flex-direction: column;
        width: 400px;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}
#knoppen-wpl button {
    border-radius: 5px;
    padding: 10px;
    margin: 0 2rem 2rem 0;
    background: #5C9D8B;
    border: #5C9D8B solid 1px;
}

#knoppen-wpl button a:link{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #EBFDF8;
    text-decoration: none;
}

#knoppen-wpl button a:visited{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #EBFDF8;
    text-decoration: none;
}