*{
    font-family: "Proxima Nova", sans-serif;
}
nav{
    height: 106px;
    background-color: #EBFDF8;
    display: flex;
    justify-content: space-between;
}
nav img{
    margin: 15px;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul li a{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin: 30px 15px;
    width: 150px;
    text-align: center;
    color: #5C9D8B;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: 800;
}
nav ul li a.active{
    text-decoration: underline;
}

#profiel {
    margin: 5rem auto 7rem 150px;
    display: flex;
    justify-content: flex-start;
}

#wpl2 #profiel #logo {
    /*width: 437px;*/
    /*height: 633px;*/
    margin: 200px 60px 0 120px;
}

main #profiel #persoonlijke-info {
    height: 320px;
    width: 750px;
    /*margin: 10px 0 0 0;*/
}
#persoonlijke-info h1{
    padding: 0 0 0 20px;
    font-size: 40px;
    color: #545479;
}
#persoonlijke-info h2{
    padding: 0 0 0 10px;
    font-size: 40px;
    color: #545479;
}
#persoonlijke-info p {
    padding: 0 0 0 20px;
    font-size: large;
}

main button{
    width: 350px;
    height: 50px;
    background: #5C9D8B;
    border: #5C9D8B solid 1px;
    border-radius: 20px;
    margin-left: 20px;
}

main button a:link{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #EBFDF8;
    text-decoration: none;
}

main button a:visited{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #EBFDF8;
    text-decoration: none;
}
#linken_wpl2{
    width: 1000px;
}
#linken_wpl2 button{
    width: 300px;
    height: 50px;
    background: #5C9D8B;
    border: #5C9D8B solid 1px;
    border-radius: 20px;
    margin-left: 20px;
}
#linken_wpl2 button a:link{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #EBFDF8;
    text-decoration: none;
}

#linken_wpl2 button a:visited{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #EBFDF8;
    text-decoration: none;
}
.boxes{
    display: flex;
width: 1280px;
}
.flip-box {
    background-color: transparent;
    width: 225px;
    height: 750px;
    perspective: 1000px;
    margin: 25px 25px 25px 0;

}
.flip-box img{
    width: 195px;
    height: 709px;

}
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front {
    margin: 0 auto;
}

.flip-box-back {
    transform: rotateY(180deg);
    margin: 0 auto;

}
@media screen and (max-width: 415px){
    nav img{
        display: none;
    }
    nav{
        height: 100%;
        width: 415px;
    }
    nav ul{
        flex-direction: column;
        justify-content: center;
        width: 415px;
        padding: 0;
    }
    nav ul li a{
        /*width: 100%;*/
    }
}